In [3]:
import pandas as pd
import numpy as np

### Import Original Dataset

In [17]:
file_path = '../../data/obs_and_meta/processed/'
proboscidia_df = pd.read_csv(file_path + 'proboscidia_train.csv', index_col=0)
felids_df = pd.read_csv(file_path + 'felids_train.csv', index_col=0)
validation_df = pd.read_csv(file_path + 'validation.csv', index_col=0)

Concatenate seperate datasets and apply *Felis Catus* restriction

In [18]:
df = pd.concat([proboscidia_df, felids_df])
df = pd.concat([df, validation_df])
df = df[df['taxon_species_name'] != 'Felis catus']

Apply the sub-species detection method.

In [19]:
def sub_species_detection(x):
    name_count = len(x['scientific_name'].split())
    x['sub_species'] = np.nan
    if name_count >= 3:
        x['sub_species'] = x['scientific_name']
    return x

In [20]:
df = df.apply(lambda x: sub_species_detection(x), axis=1)

### Family Taxon

In [21]:
df.value_counts(subset=['taxon_family_name'])

taxon_family_name
Felidae              44698
Elephantidae         11289
dtype: int64

### Genus Taxon

In [22]:
df.value_counts(subset=['taxon_genus_name'])

taxon_genus_name
Lynx                20133
Panthera            12407
Loxodonta            9404
Puma                 5238
Leopardus            2219
Elephas              1885
Acinonyx             1872
Felis                 991
Caracal               595
Herpailurus           448
Leptailurus           442
Prionailurus          291
Neofelis               24
Otocolobus             20
Pardofelis             11
Catopuma                7
dtype: int64

### Species Taxon

In [23]:
df.value_counts(subset=['taxon_species_name'])

taxon_species_name
Lynx rufus                  19037
Loxodonta africana           8936
Panthera leo                 6781
Puma concolor                5238
Panthera pardus              2963
Elephas maximus              1885
Acinonyx jubatus             1872
Panthera onca                1830
Leopardus pardalis           1324
Panthera tigris               787
Lynx canadensis               727
Caracal caracal               573
Herpailurus yagouaroundi      448
Leptailurus serval            442
Felis lybica                  372
Leopardus wiedii              362
Felis silvestris              345
Leopardus geoffroyi           287
Lynx lynx                     260
Felis chaus                   228
Loxodonta cyclotis            222
Prionailurus bengalensis      178
Lynx pardinus                 109
Prionailurus javanensis        77
Leopardus tigrinus             67
Leopardus guigna               55
Leopardus guttulus             47
Panthera uncia                 46
Caracal aurata                 22
Otocolobus manul               20
Neofelis diardi                19
Felis nigripes                 18
Prionailurus viverrinus        17
Leopardus pajeros              16
Leopardus colocola             16
Leopardus garleppi             12
Prionailurus rubiginosus       12
Pardofelis marmorata           11
Leopardus emiliae              10
Felis margarita                10
Leopardus braccatus             9
Leopardus jacobita              7
Prionailurus planiceps          7
Catopuma temminckii             6
Neofelis nebulosa               5
Felis bieti                     4
Leopardus fasciatus             2
Catopuma badia                  1
dtype: int64

### Sub-species Taxon

In [24]:
df.value_counts(subset=['sub_species'])

sub_species
Panthera leo melanochaita            5586
Panthera pardus pardus               2448
Acinonyx jubatus jubatus             1642
Elephas maximus indicus               877
Panthera leo leo                      786
                                     ...
Pardofelis marmorata longicaudata       1
Catopuma temminckii temminckii          1
Felis margarita thinobia                1
Felis chaus chaus                       1
Loxodonta africana Ã— cyclotis           1
Length: 69, dtype: int64