In [1]:
import pandas as pd
import numpy as np

## Observation Counts

In [10]:
path = '../data/processed/'

proboscidia_df = pd.read_csv(path + 'proboscidia_final.csv', index_col=0)
felids_df = pd.read_csv(path + 'felids_final.csv', index_col=0)

In [11]:
felids_df = felids_df[felids_df['taxon_species_name'] != 'Felis catus'].copy()

In [12]:
df = pd.concat([proboscidia_df, felids_df])

### Taxonomic Order

In [13]:
df.value_counts(subset='taxon_family_name')

taxon_family_name
Felidae         44710
Elephantidae    11292
dtype: int64

### Taxonomic Genus

In [21]:
df_genus = df[df.groupby('taxon_family_name').common_name.transform('count') >= 5].copy()
df_genus.value_counts(subset='taxon_genus_name')

taxon_genus_name
Lynx            20139
Panthera        12411
Loxodonta        9407
Puma             5239
Leopardus        2220
Elephas          1885
Acinonyx         1872
Felis             991
Caracal           595
Herpailurus       448
Leptailurus       442
Prionailurus      291
Neofelis           24
Otocolobus         20
Pardofelis         11
Catopuma            7
dtype: int64

### Taxonomic Species

In [27]:
df.value_counts(subset='taxon_species_name')

taxon_species_name
Lynx rufus                  19043
Loxodonta africana           8939
Panthera leo                 6782
Puma concolor                5239
Panthera pardus              2964
Elephas maximus              1885
Acinonyx jubatus             1872
Panthera onca                1831
Leopardus pardalis           1324
Panthera tigris               788
Lynx canadensis               727
Caracal caracal               573
Herpailurus yagouaroundi      448
Leptailurus serval            442
Felis lybica                  372
Leopardus wiedii              362
Felis silvestris              345
Leopardus geoffroyi           288
Lynx lynx                     260
Felis chaus                   228
Loxodonta cyclotis            222
Prionailurus bengalensis      178
Lynx pardinus                 109
Prionailurus javanensis        77
Leopardus tigrinus             67
Leopardus guigna               55
Leopardus guttulus             47
Panthera uncia                 46
Caracal aurata                 22
Otocolobus manul               20
Neofelis diardi                19
Felis nigripes                 18
Prionailurus viverrinus        17
Leopardus pajeros              16
Leopardus colocola             16
Leopardus garleppi             12
Prionailurus rubiginosus       12
Pardofelis marmorata           11
Leopardus emiliae              10
Felis margarita                10
Leopardus braccatus             9
Leopardus jacobita              7
Prionailurus planiceps          7
Catopuma temminckii             6
Neofelis nebulosa               5
Felis bieti                     4
Leopardus fasciatus             2
Catopuma badia                  1
dtype: int64

### Taxonomic Subspecies

In [16]:
def sub_species_detection(x):
    name_count = len(x['scientific_name'].split())
    x['sub_species'] = np.nan
    if name_count >= 3:
        x['sub_species'] = x['scientific_name']
    return x

In [17]:
df = df.apply(lambda x: sub_species_detection(x), axis=1)

In [19]:
sub_species_counts = df.value_counts(subset='sub_species')

In [31]:
sub_species_counts.tail(60)

sub_species
Caracal caracal caracal                 349
Lynx rufus rufus                        262
Panthera pardus fusca                   222
Elephas maximus borneensis              180
Puma concolor concolor                  167
Felis lybica cafra                      167
Panthera pardus kotiya                  164
Leptailurus serval lipostictus          152
Felis silvestris silvestris             144
Felis chaus affinis                     105
Leptailurus serval serval                87
Felis lybica lybica                      81
Leopardus pardalis mitis                 58
Leptailurus serval constantina           57
Acinonyx jubatus hecki                   46
Prionailurus javanensis sumatranus       38
Prionailurus bengalensis euptilurus      32
Lynx rufus escuinapae                    27
Felis lybica ornata                      26
Prionailurus bengalensis bengalensis     22
Elephas maximus sumatranus               18
Neofelis diardi borneensis               16
Panthera tigris sondaica                 15
Panthera pardus delacouri                15
Lynx lynx lynx                           14
Leopardus guigna guigna                  13
Leopardus pardalis pardalis              11
Panthera pardus tulliana                 11
Panthera tigris altaica                  11
Panthera pardus melas                    10
Caracal caracal nubicus                  10
Felis silvestris caucasica                9
Prionailurus javanensis javanensis        8
Prionailurus viverrinus viverrinus        8
Lynx lynx dinniki                         8
Felis catus × silvestris                  6
Leopardus guigna tigrillo                 5
Lynx lynx isabellinus                     5
Lynx lynx carpathicus                     5
Leopardus tigrinus oncilla                4
Pardofelis marmorata marmorata            4
Caracal caracal schmitzi                  4
Prionailurus rubiginosus rubiginosus      3
Caracal aurata aurata                     3
Acinonyx jubatus soemmeringii             3
Panthera pardus orientalis                3
Otocolobus manul manul                    3
Lynx lynx wrangeli                        3
Catopuma temminckii moormensis            2
Leopardus wiedii wiedii                   2
Otocolobus manul nigripectus              2
Felis catus × lybica                      2
Prionailurus rubiginosus phillipsi        2
Felis margarita margarita                 2
Leopardus wiedii vigens                   1
Pardofelis marmorata longicaudata         1
Catopuma temminckii temminckii            1
Felis margarita thinobia                  1
Felis chaus chaus                         1
Loxodonta africana × cyclotis             1
dtype: int64

In [32]:
len(sub_species_counts)

69